@import "bootstrap";

body > nav > ul > li > a {
  margin-right: 1rem;
}

body {
  background: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Boogaloo', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#collapsingNavbarLg > ul:nth-child(1) > li > a {
  font-size: 20px !important;
  font-family: 'Shrikhand', cursive !important;
  color: #343A40 !important;
}

body > div > div > div > div > div > div > nav {
  padding: 1rem !important;
}

body > div > div > div > div > div > div > nav > span.next > a {
  padding: 25px;
}

body > div > div > div > div > div > div > nav > span.page.current {
  padding-left: 1rem;
  padding-right: 1rem;
}
body > div > div > div > div > div > div > nav > span.first > a {
  padding: 1rem;
}
body > div > div > div > div > div > div > nav > span > a {
  padding: 1rem;
}

body > div > div > div > div > div > div > div > div > p {
  word-wrap: break-word !important;
}
#collapsingNavbarLg > ul > li.dropdown.nav-link.show > ul {
  background: #333 !important;
  text-align: center !important;
}

#collapsingNavbarLg > form, #collapsingNavbarLg > form > input.form-control.mr-sm-3, #collapsingNavbarLg > form > input.form-control.mr-sm-3 {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
}

@media (max-width: 750px) {
  .recipe-container {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 3px;
  margin: 1rem;
  width: 300px;
}


@media (max-width: 750px) {
  .card {
    width: 100%;
    display: block;
    margin: 20px 0px;
    padding: 0px;
    width: auto;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

.pagination span {
  padding: 0px 1rem;
}

.single-card {
  width: 660px;
}

@media (max-width: 750px) {
  .single-card {
    width: 100%;
  }
}

.rate-button {
  margin: 20px 0;
}

.user_info {
  width: 500px;
  max-width: 100%;
}

@media (max-width: 500px) {
  .user_info {
    width: 100%;
  }
}


// comment form
body > div > div > div.card-body > div.container > div > form {
  width: 100%;
}

#collapsingNavbarLg > ul > li.dropdown.nav-link.show > ul {
  background: #fff !important;

  li {
    text-decoration: underline;
    
    a {
      color: #333;
    }
  }
}

// new recipe form selector
body > div > form {
  width: 500px;
}

@media (max-width: 500px) {
  body > div > form {
    width: 100%;
  }
}

// new recipe file uploader styling
body > div > form > div:nth-child(7) > input {
  background: transparent;
  border: none;
}

.welcome-user-by-name {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  color: #fff;
}